<footer class="page__footer">
  <ul class="footer__list">
    <li class="footer__list--element">
      <a
        class="footer__list--element--link"
        href="https://oniricat.bandcamp.com/"
        >Bandcamp</a
      >
    </li>
    <li class="footer__list--element">
      <a
        class="footer__list--element--link"
        href="https://soundcloud.com/oni_ricat"
        >Soundcloud</a
      >
    </li>
    <li class="footer__list--element">
      <a
        class="footer__list--element--link"
        href="https://pivotlivecomposer.bandcamp.com/album/from-the-blank"
        >Pivot</a
      >
    </li>
    <li class="footer__list--element">
        <a
          class="footer__list--element--linkjs"
          href="https://javascript30.com/"
          >Javascript30</a
        >
      </li>
      <li class="footer__list--element">
        <a
          class="footer__list--element--linkgit"
          href="https://github.com/ctalloc/JS-Oniric-DrumKit"
          >Github</a
        >
      </li>
  </ul>A
</footer>
