.page__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
}
.footer__list{
  text-decoration: none;
  list-style-type: none;
  font-family: $font-main;
  &--element{
    margin: 5px;
    padding: 5px;
    background-color: rgb(46, 46, 46);
    display: inline-block;
    border-radius: 10%;
    &--link{
      color: pink;
    }
    &--linkjs{
      color: greenyellow;
    }
    &--linkgit{
      color: rgb(192, 242, 255);
    }
  }
}